<div class="container-fluid">
    <form>
    <div class="form-group" *ngIf="post">
        <label for="title">Title</label>
        <input [(ngModel)]="post.title" name="title" type="text" class="form-control"  id="Title" [value]="post.title">
        <label for="body">Body</label>
        <input [(ngModel)]="post.body" name="body" type="text" class="form-control"   id="Body" [value]="post.body">
        <button (click)="onCreate(post)" *ngIf="status===true" type="button" class="btn btn-primary">Add</button>            
        <button (click)="onUpdate(post.id)" *ngIf="!status" type="button" class="btn btn-warning">Update</button>   
    </div>
  </form>
  <p>{{post | json}}</p>

    <div class="card-group">
        <!--<div class="card" *ngIf="(posts$ | async) as results"  >-->
            <div class="card" *ngIf="posts">
                <div  class="card-body" *ngFor="let post of posts">
                <h4 class="card-title">{{post.title}}</h4>
                <p class="card-text">{{post.body}}</p>
                <button (click)="onEdit(post)" type="button" class="btn btn-warning">Edit</button>
                <button (click)="onDelete(post)" type="button" class="btn btn-danger">Delete</button>            
            
            </div>
        </div>
    </div>
</div>